// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.el-message {
  min-width: 240px;
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;

  .el-dialog__header{
    padding: 16px 16px 10px;
  }

  .el-dialog__body{
    padding: 10px 16px 12px 16px;
  }

  .el-dialog__footer {
    padding: 8px 16px 16px 16px;
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

// to fix el-form label css style
.el-form--label-top .el-form-item__label {
  padding-bottom: 0;
}

.el-form-item {
  margin-right: 20px;
}

// tooltip
.el-tooltip__popper {
  background: #20a0ff !important;
}

.el-tooltip__popper[x-placement^=top] {
  .popper__arrow:after, .popper__arrow {
    border-top-color: #20a0ff !important;
  }
}

.el-tooltip__popper[x-placement^=bottom] {
  .popper__arrow:after, .popper__arrow {
    border-bottom-color: #20a0ff !important;
  }
}

.el-tooltip__popper[x-placement^=left] {
  .popper__arrow:after, .popper__arrow {
    border-left-color: #20a0ff !important;
  }
}

.el-tooltip__popper[x-placement^=right] {
  .popper__arrow:after, .popper__arrow {
    border-right-color: #20a0ff !important;
  }
}

// drawer
.el-drawer {
  overflow: auto;
  @include scrollBar;
}

// table selection
.el-table-column--selection {
  .cell {
    padding: 0 10px;
  }
}


